* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100vh;
    gap: clamp(12px, 1.3vw, 33px); 
    padding: clamp(24px, 4.43vw, 113px); 
    margin: 0;
    box-sizing: border-box;
}

.pomodoro-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #333333;
    border-radius: 10px;
}

.timer-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
    grid-column: 2 / 8;
    grid-row: 1 / 3;
    background-color:#181818;
    border-radius: 70px;
}

.graphic-panel .graphic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    padding: 50px 0;
}


.todo-panel {
    grid-column: 8 / 12;
    grid-row: 1;
    background-color:#181818;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch ;
    overflow: hidden;

    position: relative;
    z-index: 10;
}

.todo-panel.expanded {
    grid-column: 8 / 12;
    grid-row: 1 / 3;
    position: relative;
    z-index: 10;
}

.hidden {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h2 {
    font-size: clamp(20px, 2.08vw, 53px);
    color: white;
    margin: 0;
    padding: clamp(10px, 1.3vw, 33px);
}

.graphic-panel {
    grid-column: 8 / 12;
    grid-row: 2;
    background-color:#181818;
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.btn {
    border: none;
    background-color: #333333;
    border-radius: 10px;
    padding: clamp(6px, 0.65vw, 17px) clamp(12px, 1.3vw, 33px);
    margin: 0px 0px;
    font-size: clamp(14px, 1.56vw, 40px);
    color: white;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.btn.active {
    background-color: #5D4445;
}

.btn:hover {
    background-color: #5D4445;
}

.button {
    border: 2px solid #333333;
    border-radius: 10px;
    background-color: transparent;
    padding: clamp(8px, 0.78vw, 20px) clamp(14px, 1.56vw, 40px);
    margin: 10px;
    font-size: clamp(14px, 1.56vw, 40px);
    color: white;
    cursor: pointer;
}

.button:hover {
    background-color: #5d444570;
    color: white;
}

/* Timer Circle Styles */

.timer-circle {
    width: clamp(220px, 26.04vw, 666px);  
    height: clamp(220px, 26.04vw, 666px);
    border-radius: 50%;
    background: conic-gradient(
        #d9d9d9 0% 70%,
        #3a3a3a 75% 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer-inner {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

time {
    font-size: clamp(40px, 6.25vw, 160px); 
    color: white;
    margin: 0;
}

/* To Do list */

.Session {
    font-size: clamp(14px, 1.56vw, 40px);
    color: white;
    margin: 0;
}

.input-row {
    display: flex;
    flex-direction: row;
    margin: 0px 40px;
    gap: 10px;
    width: 100%;
    padding: 0px;
}

.input-row input[type="text"] {
    width: 70%;
    padding: 5px;
    margin: 0;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: #111111;
    border: 2px solid #353535;
    color: #d9d9d9;
}

.add-button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #353535;
    color: #656565;
    font-size: 24px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 20px 20px;
    margin: 0;
    width: 100%;
    flex: 1;        
    min-height: 0; 
    overflow-y: auto;
    scrollbar-width: thin;                  /* Firefox: товщина */
    scrollbar-color: #444444 #181818;
}

ul::-webkit-scrollbar {
    width: 8px;
}

ul::-webkit-scrollbar-track {
    background: #181818; /* колір "доріжки", по якій рухається повзунок */
}

ul::-webkit-scrollbar-thumb {
    background: #444444; /* колір самого повзунка */
    border-radius: 10px;
}

ul::-webkit-scrollbar-thumb:hover {
    background: #5D4445; 
}

li {
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid #262626;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    accent-color: #676767;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #676767;
    border-color: #262626;
}

input[type="checkbox"]:checked::after {
    content: "X";
    position: absolute;
    transform: translate(45%, 10%);
    color: #181818;
    font-size: 14px;
}

label:has(input[type="checkbox"]:checked) span {
    text-decoration: line-through;
    color: #676767; 
}

.day-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    height: 100%;
}

.bar {
    width: 40px;
    background-color: #333333;
    border-radius: 6px 6px;
}

.bar1 {
    width: 40px;
    background-color: #676767;
    border-radius: 6px 6px;
}

.day-column span{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}
.delete-btn {
    background: transparent;
    border: none;
    color: #676767;
    font-size: 20px;
    cursor: pointer;
    padding: 0 10px;
}

.delete-btn:hover {
    color: #d9d9d9;
}